''
''
# dependencies
/Lib
/Scripts
/.pnp
.pnp.js


// django 
/api/store/__pycache__
/api/api/__pycache__
/api/store/migrations
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
